@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.custom-navbar {
  background-color: #7eb8dc;
}

.custom-navbar .navbar-nav.me-auto .nav-link,
.custom-navbar .navbar-brand {
  font-family: 'Poppins', sans-serif;
  color: white !important;
  font-weight: 500;
  font-size: 16px;
  transition: filter 0.3s ease;
  margin-right: 15px;
}

.custom-navbar .navbar-nav.me-auto .nav-item:last-child .nav-link {
  margin-right: 0;
}

.custom-navbar .navbar-nav.me-auto .nav-link:hover {
  filter: brightness(80%);
}

.custom-navbar .navbar-nav.flex-row .nav-link,
.custom-navbar .bi {
  font-family: 'Poppins', sans-serif;
  color: white !important;
  transition: filter 0.3s ease;
  margin-right: 0 !important;
}

.custom-navbar .navbar-nav.flex-row .nav-link:hover {
  filter: brightness(80%);
}
.custom-navbar {
  background-color: rgba(126, 184, 220, 0.85); 
  backdrop-filter: blur(4px); 
}

[data-bs-theme="dark"] .custom-navbar .nav-link,
[data-bs-theme="dark"] .custom-navbar .navbar-brand,
[data-bs-theme="dark"] .custom-navbar .bi {
  color: white !important;
}

.gif-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white; /* можно убрать или изменить */
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.gif-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-text h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

.about-text p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
}
.btn-custom {
  display: inline-block;
  margin-top: 15px;
  background-color: #FF6347;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-custom:hover {
  background-color: #FF4500;
  transform: scale(1.05);
}
.card {
  border: 3px solid  #0041f5; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25); ы
  border-radius: 9px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* легкий подъём при наведении */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35); /* усиленная тень */
}

